@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://use.typekit.net/ywa6rkc.css');

$font-main: 'Comfortaa', cursive;
$main-weight-regular: 400;
$main-weight-bold: 700;

$font-headings: all-round-gothic, sans-serif;
$headings-weight-demi: 600;
$headings-weight-bold: 700;