body {
  background: $color-layout-main;
  font-family: $font-main;
  font-weight: $main-weight-regular
}

.container {
  max-width: 1169px;
  width: 100%;
  margin: 0 auto;
}

.heading {
  color: $color-text-main;
  font-family: $font-headings;
  font-weight: $headings-weight-demi;

  @at-root h1#{&} {
    font-size: 64px;
    font-weight: $headings-weight-bold;
    line-height: 64px;
  }
  @at-root h2#{&} {
    font-size: 56px;
    font-weight: $headings-weight-bold;
    line-height: 64px;
  }
  @at-root h3#{&} {
    font-size: 40px;
    line-height: 48px;
  }
  @at-root h4#{&} {
    font-size: 28px;
    line-height: 40px;
  }
  @at-root h5#{&} {
    font-size: 24px;
    line-height: 40px;
  }
  @at-root h6#{&} {
    font-size: 16px;
    line-height: 18px;
  }
}

a {
  text-decoration: none;
  color: $color-text-main;
}

p {
  font-family: $font-main;
  font-weight: $main-weight-regular;
  color: #4A4764;
}