.header {
  padding: 40px 10px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 256px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 48px;

    img {
      width: 244px;
      height: 24px;
    }
  }
}

.hamburger {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    &__container {
        box-shadow: 0 0 2px 2px #51a7e8;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
  }

  &__bars {
    position: absolute;
    width: 35px;
    height: 3px;
    border-radius: 10px;
    background-color: #000;
    transition: transform .22s ease-in-out;
    &:before, &:after {
      display: block;
      position: absolute;
      width: 35px;
      height: 3px;
      background-color: #000;
      content: '';
    }
    &:before {
      top: -12px;
      transition: top .1s .25s ease-in, transform .22s ease-in-out;
    }
    &:after {
      bottom: -12px;
      transition: bottom .1s .25s ease-in, 
              transform .22s ease-in-out;
    }
  }

  &--active {
    .hamburger__bars {
      transform: rotate(45deg);
      transition: transform .22s .12s ease-in-out;
      &:before {
        top: 0;
        transition: top .10s ease-out;
      }
      &:after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom .10s ease-out, 
                transform .22s .12s ease-in-out;
      }
    }
  }
}

.hamburger, .hamburger__container {
  &:focus {
      outline: none;
  }
}

@media (min-width: $breakpoint-medium) {
  .hamburger {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }
}